label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  padding: 2rem .5rem .5rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.radio-inner:hover,
.radio-inner:focus-within {
  border: 1px solid var(--stroke-hightlight);
}

.radio-inner input {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;

}

.radio-indicator {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../../assets/icons/radio-branca.svg);
  background-size: cover;
}
.radio-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;

}

.radio-inner:has(input:checked) .radio-indicator {
  background-image: url(../../assets/icons/radio-selected.svg);
}